{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list admintags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/overrides.css"/>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'strategy' %}">Strategy</a></li>
      <li>Analysis</li>
    </ul>
  {% endblock %}
{% endif %}

{% block bodyclass %}change-form{% endblock %}

{% block content %}
  <div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Commission</div>
      <table class="table">
        <tr>
          <th class="col-md-6">Stock Order Fee</th>
          <td>{{ commission.stock_order_fee }}</td>
        </tr>
        <tr>
          <th class="col-md-6">Option Order Fee</th>
          <td>{{ commission.option_order_fee }}</td>
        </tr>
        <tr>
          <th class="col-md-6">Option Contract Fee</th>
          <td>{{ commission.option_contract_fee }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">Strategy</div>
      <table class="table">
        <tr>
          <th>Capital</th>
          <td class="col-md-4">{{ capital|floatformat:2 }}</td>
          <th></th>
          <td></td>

        </tr>
        <tr>
          <th>Name</th>
          <td class="col-md-4">{{ trade.name }}</td>
          <th>Instrument</th>
          <td class="col-md-4">{{ trade.instrument }}</td>
        </tr>
        <tr>
          <th>Category</th>
          <td class="col-md-4">{{ trade.category }}</td>
          <th>Path</th>
          <td class="col-md-4">{{ trade.path }}</td>
        </tr>
      </table>
    </div>
  </div>
  </div>

  <form class="form-horizontal" action='#' method='post'>
    <div class="panel panel-default">
      <div class="panel-heading">Argument form</div>
      <div class="panel-body">
        <div class="row">
          <div class="control-group field-symbol">
            {% csrf_token %}
            {% for field in form %}
              <div class="control-group field-start">
                {% if field|form_field_type == 'HiddenInput' %}
                  {{ field }}
                {% else %}
                  <div class="col-md-12 form-group ">
                    <div class="control-label col-md-3">
                      <b>{{ field.label|field_name }}:</b>
                    </div>
                    <div class="controls col-md-4">
                      {{ field }}
                    </div>
                    <div>
                      <span class="help-block">{{ field.help_text }}</span>
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <div class="pull-left">
        <button class="btn btn-default" type="button" name="back">
          Back: Select trade
        </button>
      </div>
      <div class="pull-right">
        <button class="btn btn-default" type="reset" name="reset">
          Reset
        </button>
        <button class="btn btn-primary default" type="submit" name="start">
          Next: Start backtest
        </button>
      </div>
    </div>
  </form>
{% endblock %}