{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags %}

{% block extrastyle %}
  <style>
    .fblock {
      width: 100%;
      height: 400px;
      overflow-y: scroll;
    }
  </style>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'data' %}">Data</a></li>
      <li><a href="{% url 'admin:data_underlying_changelist' %}">Underlyings</a></li>
      <li>Web Import</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  {% if stocks %}
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Imported!</strong> Stock have been insert into database.
    </div>
    <pre class="fblock">
{% for s in stocks %}{{ forloop.counter|stringformat:'-6d' }} | {{ s }}
{% endfor %}
    </pre>
  {% else %}
    <div class="bs-example">
      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> Symbol have up-to-date.
      </div>
    </div>
  {% endif %}
{% endblock %}