{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags %}

{% block extrastyle %}
  <style>
    .fblock {
      width: 100%;
      height: 400px;
      overflow-y: scroll;
    }
  </style>
{% endblock %}


{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'data' %}">Data</a></li>
      <li><a href="{% url 'admin:data_underlying_changelist' %}">Underlyings</a></li>
      <li>Csv Import</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="bs-example">
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Success!</strong> All thinkback csv have been saved.
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">{{ symbol }} Statistics</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <label for="cfiles">Completed Files:</label>
          <pre class="fblock">
{% for f in completes %}{{ forloop.counter|stringformat:'-6d' }}{{ f.date|stringformat:'-16s' }}{{ f.volume|stringformat:'-14d' }}{{ f.close }}
{% endfor %}
          </pre>
        </div>
        <div class="col-md-4">
          <label for="missing_dates">Missing Dates:</label>
        <pre class="fblock">
{% for date in missing %}{{ date }}
{% endfor %}
        </pre>
        </div>
        <div class="col-md-4">
          <table class="table">
            <caption>Stocks</caption>
            <tr>
              <th class="col-md-6">Count:</th>
              <td>{{ stats.count }}</td>
            </tr>
            <tr>
              <th class="col-md-6">Start:</th>
              <td>{{ stats.start }}</td>
            </tr>
            <tr>
              <th class="col-md-6">Stop:</th>
              <td>{{ stats.stop }}</td>
            </tr>
            <tr>
              <th class="col-md-6">Missing:</th>
              <td>{{ missing|length }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-left"></div>
    <div class="pull-right">
      <button id="import_options" class="btn btn-warning default" name="updated">
        Import options
      </button>
      <button id="import_again" class="btn btn-warning default" name="updated">
        Import again
      </button>
      <button id="set_updated" class="btn btn-success default" name="updated">
        Set underlying updated
      </button>
    </div>
  </div>

  <script type="text/javascript">
    $('#import_options').click(function () {
      $(location).attr("href", "{% url 'admin:csv_option_import' symbol|lower %}");
    });
    $('#import_again').click(function () {
      $(location).attr("href", "{% url 'admin:csv_stock_import' symbol|lower %}");
    });

    $('#set_updated').click(function () {
      $(location).attr("href", "{% url 'admin:set_underlying' symbol|lower 'updated' %}");
    });
  </script>
{% endblock %}