{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls admin_static admin_list admintags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/overrides.css"/>

  <style>
    .borderless td, .borderless th {
      border-top: none !important;
      border-left: none !important;
    }

    .green {
      color: green;
    }

    .red {
      color: red;
    }

    .status {
      padding: 0 0.5em 0.5em 0.5em;
    }

    .log {
      height: 200px;
      overflow: scroll;
      border: 1px solid #eee;
      padding: 1em;
    }

    .sec {
      height: 100px;
      overflow: scroll;
      border: 1px solid #eee;
      padding: 1em;
    }

    .inner-list {
      list-style: lower-alpha;
      padding-left: 20px
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' 'data' %}">Data</a>
    &rsaquo; <a href="{% url 'admin:data_underlying_changelist' %}">Underlyings</a>
    &rsaquo; <a href="{% url 'admin:data_underlying_change' underlying.id %}">{{ symbol|upper }}</a>
    {% if title %} &rsaquo; Manage{% endif %}
  </div>
{% endblock %}
{% block bodyclass %}change-form{% endblock %}

{% block content %}
  <table>
    <tr>
      <td>
        <h2>Basic Info</h2>
        <table>
          <tr>
            <td>Symbol:</td>
            <td>{{ underlying.symbol }}</td>
          </tr>
          <tr>
            <td>Start:</td>
            <td>{{ underlying.start_date }}</td>
          </tr>
          <tr>
            <td>Stop</td>
            <td>{{ underlying.stop_date }}</td>
          </tr>
          <tr>
            <td>Option:</td>
            <td>
              {% if underlying.optionable %}
                <span class="glyphicon glyphicon-ok green"></span>
              {% else %}
                <span class="glyphicon glyphicon-remove red"></span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Final:</td>
            <td>
              {% if underlying.final %}
                <span class="glyphicon glyphicon-ok green"></span>
              {% else %}
                <span class="glyphicon glyphicon-remove red"></span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Enable:</td>
            <td>
              {% if underlying.enable %}
                <span class="glyphicon glyphicon-ok green"></span>
              {% else %}
                <span class="glyphicon glyphicon-remove red"></span>
              {% endif %}
            </td>

          </tr>
        </table>
      </td>

      <td style="width: 500px;">
        <h2>Underlying status</h2>
        <div class="status">
          Log:
          <pre class="log">{{ underlying.log }}</pre>

          Missing:
          <pre class="sec">{{ underlying.missing }}</pre>

          {% if split_history|length %}
            Split History:
            <pre class="sec">{{ split_history }}</pre>
          {% endif %}
        </div>
      </td>

      <td>
        <h2>Preparation</h2>
        <ol>
          <li><a href="{% url 'quote_reference' symbol %}" target="_blank">
            Reference links
          </a></li>
          <li><a href="{% url 'admin:update_underlying' symbol %}" target="_blank">
            Update underlying
          </a></li>
          <li><a href="{% url 'admin:add_split_history' symbol %}" target="_blank">
            Add Split History
          </a></li>
        </ol>

        <h2>Web Download</h2>
        <ol>
          <li><a href="{% url 'admin:web_stock_h5' 'google' symbol %}" target="_blank">
            Import Google Data
          </a></li>
          <li><a href="{% url 'admin:web_stock_h5' 'yahoo' symbol %}" target="_blank">
            Import Yahoo Data
          </a></li>
        </ol>

        <h2>Full Clean Process</h2>
        <ol>
          <li><a href="{% url 'admin:html_event_import' symbol %}" target="_blank">
            Import earning/dividend
          </a></li>
          <li><a href="{% url 'admin:import_option_h5' symbol %}" 
                 title="Data for backtest/analysis" target="_blank">
            Import stocks/options
          </a></li>
          <li><a href="{% url 'admin:calc_day_iv' symbol 1 %}" 
                 title="Calculate IV" target="_blank">
            Calc day Implied Volatility
          </a></li>
          <li><a href="{% url 'admin:remove_clean_h5' symbol %}" target="_blank">
            Remove clean data
          </a></li>
        </ol>

        <h2>Underlying Control</h2>
        <ol>
          <li><a href="{% url 'admin:truncate_symbol' symbol %}" target="_blank">
            Truncate symbol
          </a></li>
          <li><a href="{% url 'admin:data_underlying_change' underlying.id %}" target="_blank">
            Edit underlying
          </a></li>
          <li><a href="{% url 'admin:set_underlying' symbol 'final' %}" target="_blank">
            {% if underlying.final %}
              Unset underlying final
            {% else %}
              Set underlying final
            {% endif %}
          </a></li>
          <li><a href="{% url 'admin:set_underlying' symbol 'enable' %}" target="_blank">
            {% if underlying.enable %}
              Disable symbol
            {% else %}
              Enable symbol
            {% endif %}
          </a></li>
        </ol>
      </td>

      <td>
        <h2>Thinkback CSV (Step by step)</h2>
        <ol>
          <li><a href="{% url 'admin:raw_stock_h5' symbol %}" target="_blank">
            Import stock
          </a></li>
          <li>
            <ol class="inner-list">
              <li><a href="{% url 'admin:raw2_option_h5' symbol %}" target="_blank">
                New: Import raw2 option <br>
                (Multi split, complex others)
              </a></li>
              <li><a href="{% url 'admin:raw_option_h5' symbol %}" target="_blank">
                Old: Import raw option
              </a></li>
            </ol>
          </li>
          <li><a href="{% url 'admin:valid_option_h5' symbol %}" target="_blank">
            Valid Raw Option
          </a></li>
          <li>
            <ol class="inner-list">
              <li><a href="{% url 'admin:clean_valid_h5' symbol 'normal' %}" target="_blank">
                Clean Normal Option
              </a></li>
              <li><a href="{% url 'admin:clean_valid_h5' symbol 'split_new' %}" target="_blank">
                Clean Split/New Option
              </a></li>
              <li><a href="{% url 'admin:clean_valid_h5' symbol 'split_old' %}" target="_blank">
                Clean Split/Old Option
              </a></li>
              <li><a href="#" >
                Clean Others Option
              </a></li>
            </ol>
          </li>

          <li><a href="{% url 'admin:valid_clean_h5' symbol %}" target="_blank">
            Valid Clean Option
          </a></li>
          <li>
            <ol class="inner-list">
              <li><a href="{% url 'admin:fillna_missing_h5' symbol 'normal' %}" target="_blank">
                FillNA Normal Option
              </a></li>
              <li><a href="{% url 'admin:fillna_missing_h5' symbol 'split_new' %}" target="_blank">
                FillNA Split/New Option
              </a></li>
              <li><a href="{% url 'admin:fillna_missing_h5' symbol 'split_old' %}" target="_blank">
                FillNA Split/Old Option
              </a></li>
            </ol>
          </li>
          <li><a href="{% url 'admin:merge_final_h5' symbol %}" target="_blank">
            Merge final data
          </a></li>
        </ol>
      </td>
      <td>
        <h2>Display raw data</h2>
        <ol>
          <li><a href="{% url 'admin:raw_stock_data' symbol 'google' %}">
            Stock (google)
          </a></li>
          <li><a href="{% url 'admin:raw_stock_data' symbol 'yahoo' %}">
            Stock (yahoo)
          </a></li>
          <li><a href="{% url 'admin:raw_stock_data' symbol 'thinkback' %}">
            Stock (thinkback)
          </a></li>
          <li><a href="{% url 'admin:raw_event_data' symbol 'earning' %}">
            Earning
          </a></li>
          <li><a href="{% url 'admin:raw_event_data' symbol 'dividend' %}">
            Dividend
          </a></li>
          <li><a href="{% url 'admin:raw_iv_data' symbol %}">
            Implied Volatility
          </a></li>
        </ol>
      </td>
    </tr>
  </table>
{% endblock %}