{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'data' %}"> Data</a></li>
      <li><a href="{% url 'admin:data_treasury_changelist' %}">Treasurys</a></li>
      <li> Import</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Error!</strong>
      {% for field in form %}
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      {% endfor %}
    </div>
  {% endif %}

  <form class="form-horizontal" action='' method='post'>
    {% csrf_token %}

    <div class="panel panel-default">
      <div class="panel-heading">Treasury import</div>
      <div class="panel-body">

        <div class="col-md-12 form-group ">
          <div class="control-label col-md-3">
            <b>Treasury URL:</b>
          </div>
          <div class="controls col-md-8">
            {{ form.url }}
          </div>
        </div>
        <div class="col-md-12 form-group">
          <div class="controls col-md-8 col-md-offset-3">
            <i>
              <a href="http://www.federalreserve.gov/releases/h15/data.htm" target="_blank">
                http://www.federalreserve.gov/releases/h15/data.htm
              </a>
            </i>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <div class="pull-left"></div>
      <div class="pull-right">
        <button id="back" class="btn btn-default" type="button" name="back">
          Back
        </button>
        <button class="btn btn-danger default" type="submit" name="start">
          Import now
        </button>
      </div>
    </div>
  </form>
{% endblock %}
