{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>
  <style>
    .change-form {
      width: 96%;
      height: 100vh;
    }

    ol {
      margin: 0;
      padding: 0;

    }

    li a, li span {
      display: block;
      color: #447e9b;
      font-weight: bold;
      padding: 2px 8px;
      text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      color: #036;
    }

    .separator {
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      border-bottom: solid 1px #C1C1C1;
    }

  </style>
</head>
<body>

<div style="float: left; width: 80%; ">
<iframe class="change-form" src="{% url 'admin:opinion_marketmontheconomic_change' month_eco.id %}"></iframe>
</div>
<div style="float: left; width: 16%; margin-right: 1em;">
  <h2>Reference links</h2>
  <ol>
    <li>
      <a href="https://www.businesscycle.com/ecri-reports-indexes/recession-recovery" target="_blank">
        ECRI WLI & FIG
      </a>
    </li>
    <li class="separator">
      <a href="https://www.businesscycle.com/ecri-reports-indexes/all-indexes" target="_blank">
        Leading/coincident/lagging index
      </a>
    </li>
    <li>
      <a href="http://www.tradingeconomics.com/united-states/inflation-cpi" target="_blank">
        Inflation Rate
      </a>
    </li>
    <li>
      <a href="https://ycharts.com/indicators/categories/gdp" target="_blank">
        GDP
      </a>
    </li>
    <li class="separator">
      <a href="https://ycharts.com/indicators/categories/employment" target="_blank">
        Unemployment rate
      </a>
    </li>

    <li>
      <a href="https://research.stlouisfed.org/fred2/series/M2" target="_blank">
        M2 Money Stock
      </a>
    </li>
    <li>
      <a href="https://ycharts.com/indicators/categories/interest_rates" target="_blank">
        Interest rate
      </a>
    </li>
    <li class="separator">
      <a href="https://ycharts.com/indicators/categories/international_transactions" target="_blank">
        Trade deficit
      </a>
    </li>

    <li>
      <a href="https://ycharts.com/indicators/consumer_price_index" target="_blank">
        CPI
      </a>
    </li>
    <li>
      <a href="https://ycharts.com/indicators/consumer_sentiment" target="_blank">
        Consumer sentiment
      </a>
    </li>
    <li>
      <a href="https://ycharts.com/indicators/categories/retail_and_services" target="_blank">
        Retail & services
      </a>
    </li>
    <li class="separator">
      <a href="https://ycharts.com/indicators/housing_starts" target="_blank">
        Housing starts
      </a>
    </li>

    <li>
      <a href="https://ycharts.com/indicators/categories/producer_prices" target="_blank">
        Producer price
      </a>
    </li>
    <li>
      <a href="https://ycharts.com/indicators/categories/industrial_production" target="_blank">
        Industry production
      </a>
    </li>
    <li>
      <a href="https://ycharts.com/indicators/us_total_business_inventories" target="_blank">
        Total biz inventory
      </a>
    </li>
    <li>
      <a href="https://ycharts.com/indicators/corporate_profits" target="_blank">
        Corporate profit
      </a>
    </li>
    <li class="separator">
      <a href="https://ycharts.com/indicators/categories/hours_and_wages" target="_blank">
        Hours & wages
      </a>
    </li>

    <li class="separator">
      <a href="https://ycharts.com/indicators/categories/foreign_exchange" target="_blank">
        Foreign exchange
      </a>
    </li>

    <li>
      <a href="https://ycharts.com/indicators/categories/monetary" target="_blank">
        Monetary policy
      </a>
    </li>

  </ol>
</div>








</body>
</html>