{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags admintags staticfiles %}

{% block extrastyle %}
  <style>
    .fblock {
      width: 100%;
      overflow-x: scroll;
    }
  </style>
{% endblock %}



{% block extrahead %}
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css"
        href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">

  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="{% static 'admin/datatables/jquery-1.10.2.min.js' %}"></script>

  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="{% static 'admin/datatables/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" charset="utf8"
          src="{% static 'admin/datatables/dataTables.bootstrap.js' %}"></script>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      {% if model == 'algorithm' %}
        <li><a href="{% url 'admin:app_list' 'quantitative' %}">Quantitative</a></li>
        <li><a href="{% url 'admin:quantitative_algorithmresult_changelist' %}">Algorithm results</a></li>
      {% elif model == 'strategy' %}
        <li><a href="{% url 'admin:app_list' 'simulation' %}">Simulation</a></li>
        <li><a href="{% url 'admin:simulation_strategyresult_changelist' %}">Strategy results</a></li>
      {% endif %}
      <li>Dataframe</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <pre>
{{ df }}
  </pre>
{% endblock %}