{% extends "base/base.html" %}

{% block extrastyle %}
  <style>
    .width80 {
      width: 80px;
    }

    .width120 {
      width: 120px;
    }

    .width160 {
      width: 160px;
    }

    .width220 {
      width: 220px;
    }

    .width300 {
      width: 300px;
    }

    .width360 {
      width: 360px;
    }

    .hypo {
      font-size: 0.9em;
    }

    .padtop3em {
      padding-top: 3em;
    }

    .padbot2em {
      padding-bottom: 2em;
    }
    .marginbot3em {
      margin-bottom: 3em;
    }

    .sidebar {
      position: fixed;
    }

    .section_nav {
      list-style-type: none;
      margin: 0;
      padding: 0;

    }

    .section_nav li {

    }
  </style>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
    <a href="{% url 'admin:app_list' 'opinion' %}">Opinion</a> &rsaquo;
    <a href="{% url 'admin:opinion_questline_changelist' %}">
      Quest lines
    </a> &rsaquo;
    <a href="{% url 'admin:opinion_questline_change' questline.id %}">
      {{ questline }}
    </a> &rsaquo;
    Report
  </div>
{% endblock %}

{% block normal-content %}
  <table>
    <tr>
      <td style="width: 160px;">
        <div class="sidebar">
          <h3>Quickbar</h3>
          <ol class="section_nav">
            <li><a href="#questline">Questline</a></li>
          </ol>
        </div>
      </td>
      <td style="width: 600px">
        {% include 'opinion/quest/questline.html' %}
      </td>
      <td>
        {% include 'opinion/quest/quest.html' %}
      </td>
    </tr>
  </table>


{% endblock %}