<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<span>review</span>
<a href="https://ycharts.com/indicators/categories/international_transactions">trade_deficit</a>
<a href="https://ycharts.com/indicators/categories/hours_and_wages"></a>
<a href="http://www.kauffman.org/microsites/kauffman-index/rankings/national?Report=StartupActivity"></a>
<a href="https://ycharts.com/indicators/categories/industrial_production"></a>
<a href="https://ycharts.com/indicators/corporate_profits"></a>
<a href="https://ycharts.com/indicators/categories/interest_rates"></a>
<a href="https://ycharts.com/indicators/categories/foreign_exchange"></a>
<a href="https://ycharts.com/indicators/us_total_business_inventories"></a>
<a href="https://ycharts.com/indicators/retail_sales"></a>
<a href="https://ycharts.com/indicators/categories/retail_and_services"></a>
<a href="https://ycharts.com/indicators/housing_starts"></a>
<a href="https://ycharts.com/indicators/categories/employment"></a>
<a href="https://ycharts.com/indicators/categories/sentiment_surveys"></a>
<a href="https://ycharts.com/indicators/categories/producer_prices"></a>
<a href="https://ycharts.com/indicators/categories/consumer_prices"></a>
<a href="https://ycharts.com/indicators/categories/gdp"></a>
<a href="https://ycharts.com/indicators/categories/monetary"></a>
<a href="https://ycharts.com/indicators/us_coincident_index"></a>
<a href="https://ycharts.com/indicators/weekly_leading_index"></a>
<a href="https://ycharts.com/indicators/categories/economic_activity_indexes"></a>
<a href="https://ycharts.com/indicators/us_lagging_index"></a>

<span>technical</span>
http://www.investing.com/indices/us-spx-500-technical
http://www.sectorspdr.com/sectorspdr/tools/sector-tracker


</body>
</html>