{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags admintags %}

{% block extrastyle %}
  <style>
    .mb10px {
      margin-bottom: 10px;
    }

    .ordered_list {
      padding-left: 1em;
    }

    .ordered_list li {
      margin-bottom: 0.5em;
    }

    .block a {
      display: block;
    }
  </style>
{% endblock %}


{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li>Opinion links</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="" href="#event" data-parent="#accordion" data-toggle="collapse">
              Position Hold Opinion
            </a>
          </h4>
        </div>
        <div class="panel-collapse panel-body collapse in" id="event">
          <ol class="ordered_list">
            <li>
              News<br>
              TD tos live news<br>
              TD S&P Capital report<br>
              <a href="http://www.zacks.com/stock/research/{{ symbol }}/all-news"
                 target="_blank">Zack</a> |
              <a href="http://www.nasdaq.com/symbol/{{ symbol|lower }}/news-headlines"
                 target="_blank">Nasdaq</a>
            </li>

            <li>
              Social<br>
              <a href="http://seekingalpha.com/symbol/{{ symbol }}"
                 target="_blank">Seeking Alpha</a><br>
              <a href="http://stocktwits.com/symbol/{{ symbol }}"
                 target="_blank">Stocktwits</a>
              <a href="http://www.talkmarkets.com/symbol/{{ symbol }}"
                 target="_blank">Talkmarket</a>
            </li>
            <li>
              Research report<br>
            </li>
          </ol>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="" href="#event" data-parent="#accordion" data-toggle="collapse">
              Technical
            </a>
          </h4>
        </div>
        <div class="panel-collapse panel-body collapse in" id="event">
          <ol class="ordered_list">
            <li class="block">
              Rank
              <a href="http://www.marketedge.com" target="_blank">Market edge</a>
              <a href="http://www.barchart.com" target="_blank">Barchart</a>
              <a href="http://www.chartmill.com" target="_blank">Chartmill</a>
            </li>
            <li>
              TD Chart (14 types)
            </li>
            <li>
              To be add...
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="" href="#event" data-parent="#accordion" data-toggle="collapse">
              Industry analysis
            </a>
          </h4>
        </div>
        <div class="panel-collapse panel-body collapse in" id="event">
          <ol class="ordered_list">
            <li>
              TD Industry<br>
              (index, trend, isolate, risk)
            </li>
            <li>
              Industry condition<br>
              (Structural change, Life cycle, Competition, Position)
            </li>
            <li class="block">
              Industry compartion
              <a href="http://financials.morningstar.com/competitors/industry-peer.action?t={{ symbol }}&region=usa&culture=en-US"
                 target="_blank">Industry peer</a>
              <a href="http://www.zacks.com/stock/research/{{ symbol }}/industry-comparison"
                 target="_blank">Industry comparison</a>
              <a href="http://www.morningstar.com/market-valuation/market-fair-value-graph.aspx"
                 target="_blank">Fair value</a>
            </li>
            <li class="block">
              Market Condition<br>
              <a href="https://www.google.com/finance?q=INDEXSP:.INX"
                 target="_blank">Business cycle</a>
              <a href="http://www.tradingeconomics.com/united-states/consumer-confidence"
                 target="_blank">Consumer sentiment</a>
            </li>
          </ol>



        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="" href="#event" data-parent="#accordion" data-toggle="collapse">
              Fundamental Opinion
            </a>
          </h4>
        </div>
        <div class="panel-collapse panel-body collapse in" id="event">
          <ol class="ordered_list">
            <li>
              Ownership<br>
              <a href="http://www.nasdaq.com/symbol/{{ symbol|lower }}/institutional-holdings"
                 target="_blank">Nasdaq</a> |
              <a href="http://investors.morningstar.com/ownership/shareholders-overview.html?t={{ symbol }}"
                 target="_blank">Morningstar</a><br>
            </li>
            <li>
              Insider<br>
              TD Jaywalk Consensus<br>
              <a href="http://www.insidermonkey.com/" target="_blank">Insider monkey</a><br>
              <a href="http://www.nasdaq.com/symbol/{{ symbol|lower }}/insider-trades"
                 target="_blank">Nasdaq</a> |
              <a href="http://insiders.morningstar.com/trading/executive-compensation.action?t={{ symbol }}"
                 target="_blank">Morningstar</a>
            </li>
            <li>
              Guru<br>
              <a href="http://www.gurufocus.com/gurutrades/{{ symbol }}"
                 target="_blank">Gurufocus</a><br>
              <a href="http://www.insidermonkey.com/"
                 target="_blank">Insider Monkey</a>
            </li>
            <li>
              Short interest<br>
              <a href="http://www.nasdaq.com/symbol/{{ symbol|lower }}/short-interest"
                 target="_blank">Nasdaq</a> |
              <a href="http://shortsqueeze.com/?symbol={{ symbol|lower }}&submit=Short+Quote%E2%84%A2"
                 target="_blank">ShortSqueeze</a> |
              <a href="https://ycharts.com/companies/{{ symbol }}/short_interest"
                 target="_blank">YChart</a>
            </li>
            <li>
              Mean Rank<br>
              TD Research team<br>
              <a href="http://markets.ft.com/" target="_blank">FT</a> |
              <a href="http://www.zacks.com/stock/research/{{ symbol }}/brokerage-recommendations"
                 target="_blank">Zack</a>
            </li>
            <li>
              <a href="http://markets.ft.com/" target="_blank">Target price - FT</a>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-md-3">


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="" href="#event" data-parent="#accordion" data-toggle="collapse">
              Market
            </a>
          </h4>
        </div>
        <div class="panel-collapse panel-body collapse in list-group" id="event">
          <ol class="ordered_list">

            <li class="block">
              Indicator<br>
              <a href="http://www.barrons.com/public/page/9_0210-mtlfdidc.html"
                 target="_blank">Mutual fund cash ratio</a>
              <a href="http://money.cnn.com/data/fear-and-greed/"
                 target="_blank">Fear & Greek Index</a>
              <a href="http://www.barrons.com/public/page/9_0210-nysedatabank.html"
                 target="_blank">Margin debt</a>
              <a href="https://ycharts.com/indicators/cboe_equity_put_call_ratio"
                 target="_blank">Put/Call ratio</a>
              <a href="https://ycharts.com/indicators/us_investor_sentiment_bull_bear_spread"
                 target="_blank">Investor sentiment</a>
              <a href="https://www.tradingster.com/cot/futures/fin/13874A"
                 target="_blank">CFTC S&P 500 Futures</a>
              <a href="https://www.tradingster.com/cot/futures/fin/23977A"
                 target="_blank">CFTC Russell 2000 Futures</a>
              <a href="http://www.barrons.com/public/page/9_0210-wyldgp.html"
                 target="_blank">Confidence Index</a>
              <a href="https://ycharts.com/indicators/ted_spread"
                 target="_blank">TED Spread</a>
              <a href="http://www.mcoscillator.com/market_breadth_data/"
                 target="_blank">Breadth of Market</a>
              <a href="http://www.indexindicators.com/charts/none-vs-sp500-stocks-above-200d-sma-params-x-x-x-x/"
                 target="_blank">200D Moving Average %</a>
              <a href="http://stockcharts.com/h-sc/ui?s=%24trin"
                 target="_blank">Short-Term Trading Arms Index</a>
              <a href="http://www.barchart.com/cheatsheet.php?sym=$SPX"
                 arget="_blank">Barchart S&P 500 Support/Resistance</a>
              <a href="http://www.investing.com/indices/us-spx-500-technical"
                 arget="_blank">Investing S&P 500 Support/Resistance</a>
                Check /YM Futures
              <a href="http://www.morningstar.com/market-valuation/market-fair-value-graph.aspx"
                 target="_blank">Market fair value</a>
            </li>


            <li class="block">
              Market valuation<br>
              <a href="https://data.oecd.org/leadind/composite-leading-indicator-cli.htm"
                 target="_blank">CLI: Composite leading indicator</a>
              <a href="https://www.conference-board.org/data/bci.cfm"
                 target="_blank">BCI: Business Cycle Indicator</a>
              <a href="http://www.usinflationcalculator.com/inflation/current-inflation-rates/"
                 target="_blank">Market: Inflation Rates</a>
              <a href="http://www.tradingeconomics.com/united-states/interest-rate"
                 target="_blank">Market: Fed Funds Rate</a>
              <a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/Historic-LongTerm-Rate-Data-Visualization.aspx"
                 target="_blank">Market: Historical Treasury Rates</a>
              <a href="http://www.tradingeconomics.com/united-states/interest-rate/forecast"
                 target="_blank">Market: Rate Forecast</a>
              <a href="https://www.google.com/finance?q=INDEXSP:.INX"
                 target="_blank">Market: S&P 500 Index</a>
              <a href="https://research.stlouisfed.org/fred2/series/M2"
                 target="_blank">Money Supply</a>
            </li>
          </ol>


        </div>
      </div>


    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="" href="#event" data-parent="#accordion" data-toggle="collapse">
              Data download
            </a>
          </h4>
        </div>
        <div class="panel-collapse panel-body collapse in" id="event">
          <ol class="ordered_list">
            <li>
              Fidelity Event data<br>
              <a href="https://eresearch.fidelity.com/eresearch/evaluate/fundamentals/earnings.jhtml?tab=details&symbols={{ symbol }}"
                 target="_blank">Earnings</a> |
              <a href="https://eresearch.fidelity.com/eresearch/evaluate/fundamentals/dividends.jhtml?tab=details&symbols={{ symbol }}"
                 target="_blank">Dividend</a>
            </li>

            <li>
              Split history<br>
              <a href="http://getsplithistory.com/{{ symbol }}" target="_blank">
                GetSplitHistory
              </a><br>
              <a href="https://www.stocksplithistory.com/?symbol={{ symbol|lower }}" target="_blank">
                StockSplitHistory
              </a>


            </li>
            <li>
              Interest rate -
              <a href="https://www.federalreserve.gov/datadownload/default.htm" target="_blank">
                Fed Reserve
              </a>
            </li>

          </ol>
        </div>
      </div>


    </div>

  </div>

{% endblock %}