<div id="pre_market" class="padbot3em">
  <h1>Pre-market (8am-9am)</h1>
  <div>
    <table>
      <tr>
        <td class="tool_view">
          <fieldset class="module aligned">
            <h2>Preparation</h2>
          </fieldset>
          <table>
            <tr>
              <td>
                <h2>
                  Read news <span class="webix_icon fa-newspaper-o"></span>
                </h2>
                <p>
                  Everyday market open, there was tone of event happening.
                  Some have significant economics effect on the market, will impact and last;
                  some are just simple random unrelated story that have no economics effect,
                  will impact and recover. Most of them are relevant to the market.
                  What you need is to acknowledge what happen and make your decision.
                </p>
              </td>
              <td class="link_cell">
                <a href="https://mail.google.com/mail/u/0/#inbox" class="link_button" target="_blank">
                  Gmail
                </a><br>
                <a href="http://www.valueline.com/markets/dailyupdates.aspx" class="link_button" target="_blank">
                  Valueline
                </a><br>
                <a href="http://www.schwab.com/public/schwab/resource_center/expert_insight/markets_economy/schwab_market_update" class="link_button" target="_blank">
                  Schwab
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  Economics data <span class="webix_icon fa-calendar"></span>
                </h2>
                <p>
                  Some important economics indicator data release on a daily basic.
                  You should review and have a good sight on what happen.
                  Mostly just normal, but sometime thing will change.
                </p>
              </td>
              <td class="link_cell">
                <a href="http://mam.econoday.com/" class="link_button" target="_blank">
                  Calendar
                </a><br>
                <a href="{% url 'admin:opinion_marketweek_changelist' %}" class="link_button" target="_blank">
                  Eco day
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  Other news <span class="webix_icon fa-newspaper-o"></span>
                </h2>
                <p>
                  There are others related news in the market. For example,
                  if you trade bank stock, you should read some
                  financial sector, banking industry news for understand
                  what is going on.
                </p>
              </td>
              <td class="link_cell">
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  Excel RTD <span class="webix_icon fa-file-excel-o "></span>
                </h2>
                <p>
                  Currently you have a few excel management sheets.
                  Stock price stats, butterfly portfolio & management,
                  normal price entry/exit calc and etc. Remember to
                  open them if you need it.
                </p>
              </td>
              <td class="link_cell">
              </td>
            </tr>
          </table>
        </td>
        <td class="tool_view">
          <div>
            <fieldset class="module aligned">
              <h2>Relax your mind</h2>
            </fieldset>
            <table>
              <tr>
                <td>
                  <h2>
                    Read trading note <span class="webix_icon fa-sticky-note"></span>
                  </h2>
                  <p>
                    In order to make valid decision, you need to consider a lot of aspects.
                    Sometime you forget those tiny little important tricky point,
                    so read the trade note help you remember those point.
                  </p>
                </td>
                <td class="link_cell">
                  <a href="{% url 'trade_note' 'trade' %}" class="link_button" target="_blank">
                    Trade
                  </a><br>
                  <a href="{% url 'trade_note' 'behavior' %}" class="link_button" target="_blank">
                    Behavior
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <h2>
                    Shower <span class="webix_icon fa-shower"></span>
                  </h2>
                  <p>
                    Sometime your body do not feel heat or uncomfortable, take a shower.
                    Your body will return to cool so you can trade properly.
                  </p>
                </td>
                <td class="link_cell"></td>
              </tr>
              <tr>
                <td>
                  <h2>
                    Listen to Music <span class="webix_icon fa-music"></span>
                  </h2>
                  <p>
                    By listen to online radio or music you like, you are able to clam down
                    more quickly than you think. You mind will be more clear and more easy
                    to make though decision.
                  </p>
                </td>
                <td class="link_cell">
                  <a href="http://www.accuradio.com/history/" class="link_button" target="_blank">
                    AccuRadio
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>
                    Praying <span class="webix_icon fa-asterisk"></span>
                  </h2>
                  <p>
                    Gain some bless from religion before start trading will make your
                    spiritual mind more stable without thinking the negative too much.
                  </p>
                </td>
                <td class="link_cell">
                  <a href="http://www.pray.com.au" class="link_button" target="_blank">
                    Pray.com.au
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>
                    Take a nap (2 hours) <span class="webix_icon fa-bed"></span>
                  </h2>
                  <p>
                    Whatever when you feel fuzzy, blur, mind unstable, angry or tired, you
                    should take some sleep before start trading. Without a clear mind,
                    the decision you make will be mostly normal to bad.
                  </p>
                </td>
                <td class="link_cell"></td>
              </tr>
              <tr>
                <td>
                  <h2>
                    Wash luck <span class="webix_icon fa-gamepad"></span>
                  </h2>
                  <p>
                    After a series of loss, you mind will become more stable
                    because it have remove the possibility of win.
                    When you make decision it will all pure fact without
                    feeling of win cause any effect on that.
                  </p>
                </td>
                <td class="link_cell"></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>