<div id="season" class="padbot3em">
  <h1>Season (Jan, Apr, Jul, Oct)</h1>
  <div>
    <table>
      <tr>
        <td class="tool_view">
          <fieldset class="module aligned">
            <h2>Data update</h2>
          </fieldset>
          <table>
            <tr>
              <td>
                <h2>
                  Thinkback data update <span class="webix_icon fa-database"></span>
                </h2>
                <p>
                  Options data is from TOS thinkback. Because it is free data, so
                  you need to add them on every season. It is use for backtest options
                  strategy and understand how options price move.
                </p>
              </td>
              <td class="link_cell">
                <a href="{% url 'admin:app_list' 'data' %}" class="link_button" target="_blank">
                  Data Model
                </a>
              </td>
            </tr>
          </table>
        </td>
        <td class="tool_view">
          <fieldset class="module aligned">
            <h2>Others analysis</h2>
          </fieldset>
          <table>
            <tr>
              <td>
                <h2>
                  Earning estimate<span class="webix_icon fa-circle-o"></span>
                </h2>
                <p>
                  Nothing yet... still need think
                </p>
              </td>
              <td class="link_cell">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>