<div id="weekly" class="padbot3em">
  <h1>Weekly analysis (Fri, Sat, Sun)</h1>
  <div>
    <table>
      <tr>
        <td class="tool_view">
          <fieldset class="module aligned">
            <h2>Market analysis</h2>
          </fieldset>
          <table>
            <tr>
              <td>
                <h2>
                  Market week report <span class="webix_icon fa-university"></span>
                </h2>
                <p>
                  Weekly market analysis is important for trading. It give you
                  a clear view on how the market perform last week. It include
                  most of the asset class from different country. The report also
                  include money flow, asset change, fund movement and etc.
                  (Advantage: Large)
                </p>
              </td>
              <td class="link_cell">
                <a href="{% url 'admin:opinion_marketweek_changelist' %}" class="link_button" target="_blank">
                  Market Week
                </a><br>
                <a href="{% url 'admin:opinion_marketstrategy_changelist' %}" class="link_button" target="_blank">
                  Market strategy
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  Re-balance portfolio <span class="webix_icon fa-circle-o"></span>
                </h2>
                <p>
                  If you hold positions, you need to re-balance your portfolio on a
                  weekly basic. Market change every week, you cannot just let your
                  positions there without hedge. Re-balance make your portfolio
                  more easy to handle loss due to market big move and unexpected move.
                  (Advantage: Medium)
                </p>
              </td>
              <td class="link_cell">
              </td>
            </tr>
          </table>
        </td>
        <td class="tool_view">
          <fieldset class="module aligned">
            <h2>Others analysis</h2>
          </fieldset>
          <table>
            <tr>
              <td>
                <h2>
                 Guru analysis <span class="webix_icon fa-university"></span>
                </h2>
                <p>
                  There was a lot of stock market guru. Some are quite popular
                  and they decision or announcement or talk show usually will
                  move the market without any fundamental support.
                  (Advantage: Small)
                </p>
              </td>
              <td class="link_cell">
                <a href="https://www.google.com/search?q=carl+icahn" class="link_button" target="_blank">
                  CI News
                </a>
                <a href="https://www.youtube.com/results?q=carl+icahn&sp=CAI%253D" class="link_button" target="_blank">
                  CI Vids
                </a><br>
                <a href="https://www.google.com/search?q=warren+buffett" class="link_button" target="_blank">
                  WB News
                </a>
                <a href="https://www.youtube.com/results?sp=CAI%253D&q=warren+buffett" class="link_button" target="_blank">
                  WB Vids
                </a><br>
                <a href="https://www.google.com/search?q=George+Soros" class="link_button" target="_blank">
                  GS News
                </a>
                <a href="https://www.youtube.com/results?q=George+Soros&sp=CAI%253D" class="link_button" target="_blank">
                  GS Vids
                </a><br>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  Special news <span class="webix_icon fa-newspaper-o"></span>
                </h2>
                <p>
                  Schedule check the market news will result some great chance of profit.
                  Some company have just pop the very serious issue or very good news.
                  If you take the chance with all preparation you do, it will result
                  a huge advantage overtime.
                  (Advantage: Medium)
                </p>
              </td>
              <td class="link_cell">
                <a href="#" class="link_button" target="_blank">
                  Fraud
                </a><br>
                <a href="#" class="link_button" target="_blank">
                  Lawsuit
                </a><br>
                <a href="#" class="link_button" target="_blank">
                  Buyback
                </a><br>
                <a href="#" class="link_button" target="_blank">
                  CEO leave
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>