{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags admintags %}

{% block extrastyle %}
  <style>

  </style>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'comment' %}">Comment</a></li>
      <li>Position profile</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="" href="#position_opinion" data-parent="#accordion" data-toggle="collapse">
          Position opinion
        </a>
      </h4>
    </div>
    <table class="panel-collapse collapse in table table-bordered" id="position_opinion">
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Value</th>
        <th class="col-md-7">Commentary</th>
        <th class="col-md-1">Valid</th>
      </tr>
      <tr>
        <td>Risk Profile:</td>
        <td>{{ position_opinion.risk_profile|cap }}</td>
        <td>{{ commentary.risk_profile }}</td>
        <td>{{ score.risk_profile }}</td>
      </tr>
      <tr>
        <td>BP Effect:</td>
        <td>${{ position_opinion.bp_effect }}</td>
        <td>
          You are using {{ others.bp_effect_pct }}% of portfolio capital to trade.
          Starting capital ${{ others.net_liquid }}, after using
          ${{ position_opinion.bp_effect }}, remain
          ${{ others.net_liquid|minus:position_opinion.bp_effect }} capital.
          {{ commentary.bp_effect }}
        </td>
        <td>{{ score.bp_effect }}</td>
      </tr>
      <tr>
        <td>Max Profit:</td>
        <td>${{ position_opinion.max_profit }}</td>
        <td>
          If this position make full profit, your portfolio will up
          {{ position_opinion.max_profit|divide_pct:others.net_liquid }}% into
          ${{ others.net_liquid|add:position_opinion.max_profit }} capital. Profit/BP Effect is
          {{ position_opinion.max_profit|divide_pct:position_opinion.bp_effect }}%.
        </td>
        <td>{{ score.max_profit }}</td>
      </tr>
      <tr>
        <td>Max Loss:</td>
        <td>${{ position_opinion.max_loss }}</td>
        <td>
          If this position reach max loss, your portfolio will down
          {{ position_opinion.max_loss|divide_pct:others.net_liquid }}% into
          ${{ others.net_liquid|minus:position_opinion.max_loss }} capital. Profit/BP Effect is
          {{ position_opinion.max_loss|divide_pct:position_opinion.bp_effect }}%.
        </td>
        <td>{{ score.max_loss }}</td>
      </tr>
      <tr>
        <td>Size:</td>
        <td>{{ position_opinion.size }}</td>
        <td>
          Total quantity of current position is {{ position_opinion.size }} units.
        </td>
        <td>{{ score.size }}</td>
      </tr>
      <tr>
        <td>Strategy:</td>
        <td>{{ position_opinion.strategy|cap }}</td>
        <td>
          A strategy need to correlate with all long-term and short-term opinions.
          Strategy that match <b>fundamental, industry, market analysis</b> and also
          most of all your <b>portfolio and behavior</b> for the market. You also
          need to keep update weekday opinion to hold your strategy until success.
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Spread:</td>
        <td>{{ position_opinion.spread|cap }}</td>
        <td>
          {% if position_opinion.optionable %}
            {% if position_opinion.spread == 'debit' %}
              {% if weekday_opinion.iv_rank == 'above_66' %}
                {{ symbol }} current IV Rank is {{ weekday_opinion.iv_rank|field_name }}%.
                High IV Rank have high premium which is better to do a credit spread instead
                of a debit spread because you pay more premium for your options position.
              {% else %}
                {{ symbol }} current IV Rank is {{ weekday_opinion.iv_rank|field_name }}%.
                A debit spread options position is suitable for current IV Rank.
              {% endif %}
            {% else %}
              {% if weekday_opinion.iv_rank == 'below_33' %}
                {{ symbol }} current IV Rank is {{ weekday_opinion.iv_rank|field_name }}%.
                Enter a credit spread is OK (collect less premium) but a debit spread
                is better because you paying less premium for your options position.
              {% else %}
                {{ symbol }} current IV Rank is {{ weekday_opinion.iv_rank|field_name }}%.
                A credit spread options position is suitable for current IV Rank.
              {% endif %}
            {% endif %}
          {% else %}
            A stock position don't interact with IV Rank direct. IV Rank only give a good
            information for the price moving range.
          {% endif %}
        </td>
        <td>{{ score.spread }}</td>
      </tr>
      <tr>
        <td>Optionable:</td>
        <td>{{ position_opinion.optionable }}</td>
        <td>
          This is a covered/options position.
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Enter Date:</td>
        <td>{{ position_opinion.enter_date }}</td>
        <td>
          Position enter date is {{ position_opinion.enter_date }}.
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Exit Date:</td>
        <td>{{ position_opinion.exit_date }}</td>
        <td>
          Position possible exit date is {{ position_opinion.exit_date }} if only if
          you want to hold until that date. If you need profit taken or early stop,
          exit date is not require.
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Day to Expire:</td>
        <td>{{ position_opinion.dte }}</td>
        <td>
          Long enough
          This options position have {{ position_opinion.dte }} DTE period.
          {% if position_opinion.dte <= 14 %}
            DTE is less than 14-days. You should be reconsider this position
            because if price goes against you, there will be no chance for correction.
          {% else %}
            DTE is greater than 14-days. It is long enough if price goes against
            you, you still can wait for reverse.
          {% endif %}
        </td>
        <td>{{ score.dte }}</td>
      </tr>
      <tr>
        <td>Price Movement:</td>
        <td>{{ position_opinion.price_movement|cap }}</td>
        <td>
          Position trading {{ position_opinion.price_movement }} signal.
        </td>
        <td>{{ score.price_movement }}</td>
      </tr>
      <tr>
        <td>Target Price:</td>
        <td>{{ position_opinion.target_price }}</td>
        <td>
          Analysts 12-months target price for {{ symbol }} stock is
          {{ position_opinion.target_price }}.
          {% if weekday_opinion.close_price < position_opinion.target_price %}
            There was still {{ weekday_opinion.close_price|r_divide_pct:position_opinion.target_price }}%
            upside to target price {{ position_opinion.target_price }}. You should be
            consider bullish or neutral position.
          {% else %}
            Current price is {{ weekday_opinion.close_price }} which it will
            move down {{ weekday_opinion.close_price|r_divide_pct:position_opinion.target_price }}%
            to {{ position_opinion.target_price }}. You should be consider bearish or neutral
            position.
          {% endif %}
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Event Trade:</td>
        <td>{{ position_opinion.event_trade }}</td>
        <td>
          {% if position_opinion.event_trade %}
            This position is using event signal, so it is an event trade.
          {% else %}
            This position is not using any event signal. It is not an event trade.
          {% endif %}
        </td>
        <td>{{ score.event_trade }}</td>
      </tr>
      <tr>
        <td>Event Period:</td>
        <td>{{ position_opinion.event_period|cap }}</td>
        <td>
          {% if position_opinion.event_trade %}
            Event trade position is always pass through some event. Extra attention
            when position near event period.
          {% else %}
            {% if score.event_period %}
              No earning/dividend/split or other events between holding period.
            {% else %}
              Invalid position that holding period pass through events. It is dangerous,
              please reconsider holding period and price impact.
            {% endif %}
          {% endif %}
        </td>
        <td>{{ score.event_period }}</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>Extra Attention</td>
        <td>{{ position_opinion.description }}</td>
        <td></td>
      </tr>
    </table>
  </div>

  {% if weekday_opinions|length %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="" href="#holding_opinion" data-parent="#accordion" data-toggle="collapse">
          Holding opinion
        </a>
      </h4>
    </div>
    <table class="panel-collapse collapse in table table-bordered" id="holding_opinion">
      <tr>
        <th class="col-md-1">Date</th>
        <th class="col-md-1">Stage</th>
        <th class="col-md-1">Hold</th>
        <th class="col-md-1">Action</th>
        <th class="col-md-7">Commentary</th>
      </tr>
      {% for holding in weekday_opinions %}
        <tr>
          <td>{{ holding.date }}</td>
          <td>{{ holding.position_stage|cap }}</td>
          <td>{{ holding.position_hold }}</td>
          <td>{{ holding.position_action|field_name|cap }}</td>
          <td>
            {% if holding.position_action == 'close' %}
              You want to close this position. See close opinion for more detail.
            {% elif holding.position_action == 'prepare_close' %}
              You are preparing to close this position. Wait a few days for target
              result before making decision to close.
            {% elif holding.position_action == 'adjust' %}
              You want to adjust this position. Possible buy more units or sell half units
              for the position.
            {% else %}
              Keep holding this position and wait for more result before making decision.
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  {% if close_opinion %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="" href="#close_opinion" data-parent="#accordion" data-toggle="collapse">
          Close opinion
        </a>
      </h4>
    </div>
    <table class="panel-collapse collapse in table table-bordered" id="close_opinion">
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Value</th>
        <th class="col-md-8">Commentary</th>
      </tr>
      <tr>
        <td>Date:</td>
        <td>{{ close_opinion.date }}</td>
        <td>
          You expected to close {{ symbol }} {{ position_opinion.strategy }} position
          on date {{ close_opinion.date }}.
        </td>
      </tr>
      <tr>
        <td>Auto trigger:</td>
        <td>{{ close_opinion.auto_trigger }}</td>
        <td>
          {% if close_opinion.auto_trigger %}
            You want to fill auto trigger limit price order. You are confident the
            order will be fill and save time reviewing it.
          {% else %}
            You want to fill market order that direct close your position without any
            hesitate because you got no time to waste.
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Condition:</td>
        <td>{{ close_opinion.condition|field_name|cap }}</td>
        <td>
          {% if close_opinion.condition == 'expire' %}
            {{ symbol }} options position is almost expire. You decide to close it either
            it is profit or loss. Expired position need to pay settlement fee and position will
            convert quantity into stock share which leave you require to close stock position.
          {% elif close_opinion.condition == 'max_risk' %}
            {{ symbol }} position have reach maximum risk for your portfolio profile.
            You do not want to hold this position any longer because it will endanger your
            portfolio.
          {% elif close_opinion.condition == 'profit_taken' %}
            {{ symbol }} position have reach minimum profit or profit per day target.
            You decide to close the position with current profit you because it is a better
            choice for your portfolio.
          {% else %}
            {{ symbol }} company recently have release new information that will
            affect stock valuation. <b>Negative statistic change</b> for your position let
            you decide to close it immediately.
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Result:</td>
        <td>{{ close_opinion.result|cap }}</td>
        <td>Current state of your position is {{ close_opinion.result|cap }}.</td>
      </tr>
      <tr>
        <td>Amount:</td>
        <td>{{ close_opinion.amount|sign_float }}</td>
        <td>
          Closing this position will result {{ close_opinion.amount|sign_float }}
          to your portfolio.
        </td>
      </tr>
      <tr>
        <td>Stock Price:</td>
        <td>${{ close_opinion.stock_price }}</td>
        <td>
          When you close this position, {{ symbol }} stock price is
          ${{ close_opinion.stock_price }}.
        </td>
      </tr>
      <tr>
        <td>Timing:</td>
        <td>{{ close_opinion.timing|cap }}</td>
        <td>
          You close position at {{ close_opinion.timing }} timing.
          {% if close_opinion.timing == 'bad' %}
            Try to do better next time.
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Wait:</td>
        <td>{{ close_opinion.wait }}</td>
        <td>
          {% if close_opinion.wait %}
            You are speculate that tomorrow is a better closing date than today because
            price move benefit your closing position.
          {% else %}
            You think today is the best day to close your position.
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Others:</td>
        <td>Extra Attention</td>
        <td>{{ close_opinion.others }}</td>
      </tr>
    </table>
  </div>
  {% endif %}
{% endblock %}