{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags admintags %}

{% block extrastyle %}
  <style>
    .mb10px {
      margin-bottom: 10px;
    }
  </style>
{% endblock %}


{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'checklist' %}">Checklist</a></li>
      <li><a href="{% url 'admin:checklist_enteropinion_changelist' %}">Enter opinions</a></li>
      <li>Report</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="" href="#position_opinion" data-parent="#accordion" data-toggle="collapse">
        Position opinions
      </a>
    </h4>
  </div>
  <div class="panel-body panel-collapse collapse in" id="position_opinion">
    <div class="row mb10px">
      <div class="col-md-8">
        Strategy:
        <br>
        You are about to enter a <b>{{ enter_opinion.strategy }}</b> position on {{ symbol }}.
        This is a
        {% if enter_opinion.optionable %}
          <b>{{ enter_opinion.spread }}</b> option
        {% else %}
          stock
        {% endif %}
        position and the size of <b>{{ enter_opinion.size }}</b> quantity.
        The signal for this trade is <b>{{ enter_opinion.signal }}</b> and the target price is
        <b>${{ enter_opinion.target }}</b>. Indices for this underlying is {{ enter_opinion.market }}

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">
        Risk Profile: <br><b>{{ enter_opinion.risk_profile|capfirst }}</b>
      </div>
    </div>

    <div class="row mb10px">
      <div class="col-md-8">
        BP Effect:
        <br>
        This position require <b>${{ enter_opinion.bp_effect }}</b> bp effect.
        Which is <b>{{ report.bp_effect_pct }}%</b> of your portfolio.<br>
        Your portfolio can only hold {{ report.bp_effect_count }} positions of same size.
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">
        BP Require: <br><b>{{ report.bp_effect }}</b>
      </div>
    </div>

    <div class="row mb10px">
      <div class="col-md-8">
        PROFIT:
        <br>
        If this position is correct, you will make
        <b>${{ report.profit_day }}</b> per day, total of <b>${{ enter_opinion.profit }}</b>.
        This will add up <b>{{ report.profit_pct }}%</b> of your portfolio.
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">
        Reward: <br><b>{{ report.profit }}</b>
      </div>
    </div>

    <div class="row mb10px">
      <div class="col-md-8">
        LOSS:
        <br>
        If this position is wrong, you will loss
        <b>${{ report.loss_day }}</b> per day, total of <b>${{ enter_opinion.loss }}</b>.
        This will add up <b>{{ report.loss_pct }}%</b> of your portfolio.
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">
        Risk: <br><b>{{ report.loss }}</b>
      </div>
    </div>
  </div>
  </div>








  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="" href="#market_opinion" data-parent="#accordion" data-toggle="collapse">
          Market opinions
        </a>
      </h4>
    </div>
    <div class="panel-body panel-collapse collapse" id="market_opinion">
      <div class="row mb10px">
        <div class="col-md-10">
          VOLATILITY:
          <br>
          Current market vix is <b>{{ market_opinion.volatility }}</b>,
          {% if market_opinion.volatility == 'INCREASE' %}
            it is better to enter a <b>CREDIT</b> spread.
          {% elif market_opinion.volatility == 'DECREASE' %}
            it is better to enter a <b>DEBIT</b> spread.
          {% else %}
            it is ok to enter CREDIT or DEBIT spread.
          {% endif %}
        </div>
        <div class="col-md-2">
          Opportunity: <b>{{ report.volatility }}</b>
        </div>
      </div>

      <div class="row mb10px">
        <div class="col-md-8">
          ECONOMICS CALENDAR:
          <br>
          Today there was <b>{{ market_opinion.market_indicator }}</b> market indicators,
          <b>{{ market_opinion.extra_attention }}</b> extra attention reports,
          <b>{{ market_opinion.key_indicator }}</b> key indicators, and
          {% if market_opinion.special_news %}have{% else %}no{% endif %} special news.

          {% if market_opinion.special_news %}
            <br>NEWS:<br>
            {{ market_opinion.commentary }}
          {% endif %}
        </div>
        <div class="col-md-2">
          Reference:<br>
          <a href="http://mam.econoday.com" target="_blank">
            Econday
          </a>
          <br>
        </div>
        <div class="col-md-2">
          Dangerous: <b>{{ report.calendar }}</b>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          MARKET TREND:
          <br>
          Market long term trend is <b>{{ market_opinion.long_trend1 }}</b>
          and short term trend from
          {{ market_opinion.short_trend0 }} into <b>{{ market_opinion.short_trend1 }}</b>.
          <br>
          Previous long term trend is {{ market_opinion.long_trend0 }}.
        </div>
        <div class="col-md-2">
          Reference:<br>
          <a href="http://www.morningstar.com/markets.html" target="_blank">
            Morningstar
          </a>
          <br>
          <a href="http://www.zacks.com/stock-market-today" target="_blank">
            Zack
          </a>
        </div>
        <div class="col-md-2">
          Opportunity: <b>{{ report.market_trend }}</b>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="" href="#enter_opinion" data-parent="#accordion" data-toggle="collapse">
          Enter opinions
        </a>
      </h4>
    </div>
    <div class="panel-body panel-collapse collapse" id="enter_opinion">
    <div class="row mb10px">
      <div class="col-md-10">
        TREND:
      </div>
      <div class="col-md-2">
        Opportunity: <b>{{ report.trend }}</b>
      </div>
      <div class="col-md-12">
        Current {{ symbol }} long term trend is <b>{{ enter_opinion.long_trend1 }}</b>
        and short term trend change from
        {{ enter_opinion.short_trend0 }} into <b>{{ enter_opinion.short_trend1 }}</b>.
        <br>
        Previous long term trend is {{ enter_opinion.long_trend0 }}.
      </div>
    </div>

    <div class="row mb10px">
      <div class="col-md-8">
        OWNERSHIP:<br>

        Total ownership held by institution are {{ enter_opinion.ownership_held_share }} shares
        or <b>{{ enter_opinion.ownership_holding_pct }}%</b><br>
        For the past 3 months, they have
        {% if enter_opinion.ownership_na_pct > 0 %}
          <b>BUY</b> {{ enter_opinion.ownership_na }} shares or
          <b>{{ enter_opinion.ownership_na_pct }}%</b> of total held.
        {% elif enter_opinion.ownership_na_pct < 0 %}
          <b>SELL</b> {{ enter_opinion.ownership_na }} shares or
          <b>{{ enter_opinion.ownership_na_pct }}%</b> of total held.
        {% else %}
          no trade.
        {% endif %}
        <br>
        Top 15 institution owner are
        {% if enter_opinion.ownership_top15_na_pct > 0 %}
          <b>BUY {{ enter_opinion.ownership_top15_na_pct }}%</b> of total held.
        {% elif enter_opinion.ownership_top15_na_pct < 0 %}
          <b>SELL {{ enter_opinion.ownership_top15_na_pct }}%</b> of total held.
        {% else %}
          no trade.
        {% endif %}
      </div>
      <div class="col-md-2">
        Reference:<br>
        <a href="http://www.nasdaq.com/symbol/{{ symbol|lower }}/institutional-holdings" target="_blank">
          Nasdaq
        </a>
        <br>
        <a href="http://investors.morningstar.com/ownership/shareholders-overview.html?t={{ symbol }}"
           target="_blank">
          Morningstar
        </a>
      </div>
      <div class="col-md-2">
        Opportunity: <b>{{ report.ownership }}</b>
      </div>
    </div>

    <div class="row mb10px">
      <div class="col-md-8">
        INSIDER:<br>
        For the past 12 months, insider have
        {% if enter_opinion.insider_na_12m > 0 %}
          <b>BUY</b> {{ enter_opinion.insider_na_12m|convert_abs }}
          <b>({{ report.insider_pct }}%)</b> of {{ symbol }} shares.
        {% elif enter_opinion.insider_na_12m < 0 %}
          <b>SELL</b> {{ enter_opinion.insider_na_12m|convert_abs }}
          <b>({{ report.insider_pct }}%)</b> of {{ symbol }} shares.
        {% else %}
          no trade.
        {% endif %}
        <br>
        For the past 3 months, insider have
        {% if enter_opinion.insider_na_3m > 0 %}
          BUY {{ enter_opinion.insider_na_3m|convert_abs }} shares.
        {% elif enter_opinion.insider_na_3m < 0 %}
          SELL {{ enter_opinion.insider_na_3m|convert_abs }} shares.
        {% else %}
          no trade.
        {% endif %}
      </div>
      <div class="col-md-2">
        Reference:<br>
        <a href="http://www.nasdaq.com/symbol/{{ symbol|lower }}/insider-trades" target="_blank">
          Nasdaq
        </a>
        <br>
        <a href="http://insiders.morningstar.com/trading/executive-compensation.action?t={{ symbol }}"
           target="_blank">
          Morningstar
        </a>
      </div>
      <div class="col-md-2">
        Opportunity: <b>{{ report.insider }}</b>
      </div>
    </div>

    <div class="row mb10px">
      <div class="col-md-8">
        SHORT INTEREST:
        <br>
        Past 2 months short interest have change <b>{{ report.short_interest }}%.</b><br>
        Day to cover rate is <b>{{ report.short_dtc }}</b>.
        This mean after {{ report.short_dtc }} days of trading and all short will be buying back.<br>
        {% if enter_opinion.short_squeeze %}
          Short squeeze is possible happen because recent sold is too large.
        {% endif %}
        Only retail investor short stock. Institute are rarely short stock,
        but still possible. <br>
      </div>
      <div class="col-md-2">
        Reference:<br>
        <a href="http://www.nasdaq.com/symbol/{{ symbol|lower }}/short-interest" target="_blank">
          Nasdaq
        </a>
      </div>
      <div class="col-md-2">
        Opportunity: <b>{{ report.short_signal }}</b>
      </div>
    </div>

    <div class="row mb10px">
      <div class="col-md-8">
        NEWS:
        <br>
        The news level for this underlying {{ symbol }} is <b>{{ enter_opinion.news_level }}</b>
        and new indicate signal <b>{{ enter_opinion.news_signal }}</b>.
      </div>
      <div class="col-md-2">
        Reference:<br>
        <a href="http://www.zacks.com/stock/research/{{ symbol }}/company-news"
           target="_blank">
          Fidelity
        </a><br>
        <a href="http://www.nasdaq.com/symbol/{{ symbol|lower }}/news-headlines"
           target="_blank">
          Nasdaq
        </a>
      </div>
      <div class="col-md-2">
        Opportunity: <b>{{ report.news }}</b>
      </div>
    </div>

    <div class="row mb10px">
      <div class="col-md-8">
        ANALYST RATING:<br>
        Brokerage firm
        {% if report.grade == 'SAME' %}
          maintain the <b>{{ report.grade }}</b> rating for {{ symbol }}.
        {% else %}
          have <b>{{ report.grade }}</b> rating for {{ symbol }}.
        {% endif %}
        Totally {{ enter_opinion.abr_rating_count }} recommendations.
        <br>
        Currently the average brokerage rating is <b>{{ report.rating }}</b> and
        it can change <b>{{ report.target|stringformat:'+.2f' }}</b> from
        trade target price ${{ enter_opinion.target|stringformat:'.2f' }}.
      </div>
      <div class="col-md-2">
        Reference:<br>
        <a href="http://www.zacks.com/stock/research/{{ symbol }}/brokerage-recommendations" target="_blank">
          Zack
        </a>
      </div>
      <div class="col-md-2">
        Opportunity: <b>{{ report.rating }}</b><br>
        Target: <b>{{ report.target|stringformat:'+.2f' }}</b><br>
      </div>
    </div>

    <div class="row mb10px">
      {% if enter_opinion.event %}
        <div class="col-md-8">
          EVENT:
          <br>
          This is a event trade.
        </div>
        <div class="col-md-2">
          Reference:<br>
          <a href="https://eresearch.fidelity.com/eresearch/evaluate/fundamentals/earnings.jhtml?tab=details&symbols={{ symbol }}"
             target="_blank">
            Earning
          </a><br>
          <a href="https://eresearch.fidelity.com/eresearch/evaluate/fundamentals/dividends.jhtml?tab=details&symbols={{ symbol }}"
             target="_blank">
            Dividend
          </a>
        </div>
        <div class="col-md-2">
          Opportunity: <b>{{ report.event }}</b>
        </div>
      {% else %}
        <div class="col-md-8">
          EVENT:
          <br>
          Holding period {{ enter_opinion.enter_date }} until {{ enter_opinion.exit_date }},
          {{ symbol }} have
          {% if enter_opinion.earning %}<b>EARNING REPORT</b>{% else %}no earnings{% endif %},
          {% if enter_opinion.dividend %}<b>DIVIDEND</b>{% else %}no dividend{% endif %},
          {% if enter_opinion.split %}<b>SPLIT</b>{% else %}no split{% endif %} and
          {% if enter_opinion.announcement %}
            <b>RELEASE ANNOUNCEMENT</b>{% else %}no announcement
          {% endif %}.
        </div>
        <div class="col-md-2">
          Reference:<br>
          <a href="https://eresearch.fidelity.com/eresearch/evaluate/fundamentals/earnings.jhtml?tab=details&symbols={{ symbol }}"
             target="_blank">
            Earning
          </a><br>
          <a href="https://eresearch.fidelity.com/eresearch/evaluate/fundamentals/dividends.jhtml?tab=details&symbols={{ symbol }}"
             target="_blank">
            Dividend
          </a>
        </div>
        <div class="col-md-2">
          Dangerous: <b>{{ report.event }}</b>
        </div>
      {% endif %}
    </div>



    </div>
  </div>
{% endblock %}