{% extends "base/base.html" %}

{% block extrastyle %}
  <style>
    .width80 {
      width: 80px;
    }

    .width120 {
      width: 120px;
    }

    .width160 {
      width: 160px;
    }

    .width220 {
      width: 220px;
    }

    .width300 {
      width: 300px;
    }

    .width360 {
      width: 360px;
    }

    .hypo {
      font-size: 0.9em;
    }

    .padtop3em {
      padding-top: 3em;
    }

    .padbot2em {
      padding-bottom: 2em;
    }

    .section_nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .section_nav li {

    }
  </style>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> >
    <a href="{% url 'admin:app_list' 'opinion' %}">Opinion</a> >
    <a href="{% url 'admin:opinion_marketmontheconomic_change' month_eco.id %}">
      Market month economic
    </a> >
    Report
  </div>
{% endblock %}

{% block normal-content %}
  <table>
    <tr>
      <td style="width: 160px;">
        <ol class="summary_nav">
          <li><a href="#montheconomic">Month economic</a></li>
        </ol>
      </td>
      <td>
        {% if 0 %}
        {% include 'opinion/market/month/economic/report.html' %}
        {% endif %}

        {% include 'opinion/market/week/report/index.html' %}

      </td>
    </tr>
  </table>


{% endblock %}