{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags admintags algotags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/overrides.css"/>
{% endblock %}

{% block extrahead %}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <link href="/static/bootstrap3_datetime/css/bootstrap-datetimepicker.min.css" type="text/css" media="all"
        rel="stylesheet"/>
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/actions.js"></script>
  <script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'algorithm' %}">Algorithm</a></li>
      <li><a href="{% url 'admin:algorithm_formula_changelist' %}">Formulas</a></li>
      <li>Analysis</li>
    </ul>
  {% endblock %}
{% endif %}

{% block bodyclass %}change-form{% endblock %}

{% block content %}
    {% if form.errors %}
      <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong>
      {% for field in form %}
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      {% endfor %}
      </div>
    {% endif %}

  <form class="form-horizontal" action='#' method='post'>
    <div class="panel panel-default">
      <div class="panel-heading">Set Algorithm Arguments</div>
      <div class="panel-body">
        <div class="row">
          <div class="control-group field-symbol">
            {% csrf_token %}
            {% for field in form %}
              <div class="control-group field-start">
                <div class="col-md-12 form-group ">
                  {% if field|form_field_type == 'HiddenInput' %}
                    {{ field }}
                  {% elif field|form_field_type == 'DateTimePicker' %}
                    <div class="control-label col-md-3">
                      <b>{{ field.label|field_name }}:</b>
                    </div>
                    <div class="controls col-md-3">
                      {{ field }}
                    </div>
                  {% else %}
                    <div class="control-label col-md-3">
                      {% if 'Handle_data' in field.label %}
                        <b>{{ field.label|algo_para_name }}:</b>
                      {% elif 'Create_signal' in field.label %}
                        <b>{{ field.label|algo_para_name }}:</b>
                      {% else %}
                        <b>{{ field.label|field_name }}:</b>
                      {% endif %}
                    </div>
                    <div class="controls col-md-4">
                      {% if 'Symbol' in field.label %}
                        <select id="id_symbol" name="symbol"
                          class="form-control form-control-inline" style="width: 350px"
                          title="" name="position" data-original-title="">
                          {% for underlying in underlyings %}
                            <option value="{{ underlying.symbol }}">
                              {{ underlying.symbol }} - {{ underlying.company }}
                            </option>
                          {% endfor %}
                        </select>
                      {% else %}
                        {{ field }}
                      {% endif %}

                    </div>
                    <div>
                      <span class="help-block">{{ field.help_text }}</span>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <div class="pull-left"></div>
      <div class="pull-right">
        <input class="btn btn-default" type="reset" name="_continue" value="Reset">
        <input class="btn btn-primary default" type="submit"
               name="_save" value="Run algorithm analysis">
      </div>
    </div>
  </form>
{% endblock %}