{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags admintags staticfiles %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>

  <script type="text/javascript" src="{% static 'DataTables/jQuery-2.1.4/jquery-2.1.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      var table = $('#report').DataTable({
        "scrollX": true,
        "pageLength": 10,
        "autoWidth": true,
        "searching": false,
        "dom": '<"top"i>rt<"bottom"flp><"clear">',

        "processing": true,
        "serverSide": true,
        "ajax": {
          url: '{% url 'admin:algorithm_report_json' symbol date formula_id %}'
        },
        "render": function (data, type, row) {
          //return data +'%';
          return typeof(data);
        },
        "columnDefs": [
          {
            "targets": {{ length }},
            "data": {{ length }},
            "render": function (data, type, full, meta) {
              var data_path = data.split(',');
              return '<a href="' + data_path[0] + '" target="_blank">Signal</a> '
                  + '<a href="' + data_path[1] + '" target="_blank">(R)</a>';
            }
          },
          {
            "targets": {{ length|add:1 }},
            "data": {{ length|add:1 }},
            "render": function (data, type, full, meta) {
              return '<a href="' + data + '" target="_blank">Trade</a>';
            }
          },
          {
            "targets": {{ length|add:2 }},
            "data": {{ length|add:2 }},
            "render": function (data, type, full, meta) {
              return '<a href="' + data + '" target="_blank">Analysis</a>';
            }
          }
        ],
        "initComplete": function (settings, json) {
        }
      });

      $('#chart').on('click', function (e) {
        e.preventDefault();
        window.open("{% url 'admin:algorithm_report_chart' symbol date formula_id %}");
      });

      $('#report tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
        }
        else {
          table.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
        }
      });

    });

  </script>
  <style>
    .dataTables_scrollBody {
      margin-bottom: 10px;
    }

    .dataTables_length {
      width: 50%;
      float: left;
    }
  </style>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'algorithm' %}">Algorithm</a></li>
      <li><a href="{% url 'admin:algorithm_formularesult_changelist' %}">Formula Results</a></li>
      <li>Report</li>
    </ul>
  {% endblock %}
{% endif %}

{% block object-tools %}
  {{ block.super }}

  <div id="content-navbar-collapse" class="navbar-collapse collapse">
    <div class="nav navbar-nav navbar-right">
      <button id="chart" type="button" class="btn btn-primary">Chart</button>
    </div>
  </div>
{% endblock %}

{% block content %}
  <table id="report">
    <thead>
    <tr>
      {% for key in keys %}
        <th>{{ key|cap }}</th>
      {% endfor %}
      <th>Signal</th>
      <th>Trade</th>
      <th>Analysis</th>
    </tr>
    </thead>
  </table>

  <script type="text/javascript">
    // For demo to fit into DataTables site builder...
    $('#report').addClass('table table-striped table-bordered small');
  </script>
{% endblock %}

