{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags %}

{% block extrastyle %}
  <style>
    .fblock {
      width: 100%;
      height: 400px;
      overflow-y: scroll;
    }
  </style>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'data' %}">Data</a></li>
      <li><a href="{% url 'admin:data_underlying_changelist' %}">Underlyings</a></li>
      <li>Csv Import</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ symbol }} Statistics</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <label for="cfiles">Missing code:</label>
          <pre class="fblock">
{% for m in missing %}{{ forloop.counter|stringformat:'-6d' }}{{ m.option_code|stringformat:'-16s' }}{{ m.count|stringformat:'-6d' }}
{% endfor %}
          </pre>
        </div>
        <div class="col-md-4">
          <label for="cfiles">Complete date:</label>
          <pre class="fblock">
{% for c in completed %}{{ forloop.counter|stringformat:'-6d' }}{{ c.date|stringformat:'-16s' }}{{ c.count|stringformat:'-6d' }}
{% endfor %}
          </pre>
        </div>
        <div class="col-md-4">
          <table class="table">
            <caption>Report</caption>
            <tr>
              <th class="col-md-4">Data:</th>
              <td>{{ stats.data }}</td>
            </tr>
            <tr>
              <th class="col-md-4">Index:</th>
              <td>{{ stats.index }}</td>
            </tr>
            <tr>
              <th class="col-md-4">Contract:</th>
              <td>{{ stats.contract }}</td>
            </tr>
            <tr>
              <th class="col-md-4">Expire:</th>
              <td>{{ stats.expire }}</td>
            </tr>
            <tr>
              <th class="col-md-4">Active</th>
              <td>{{ stats.active }}</td>
            </tr>
            <tr>
              <th class="col-md-4">Right:</th>
              <td>{{ stats.right }}</td>
            </tr>
            <tr>
              <th class="col-md-4">Others:</th>
              <td>{{ stats.others }}</td>
            </tr>
            <tr>
              <th class="col-md-4">Special:</th>
              <td>{{ stats.special }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-left"></div>
    <div class="pull-right">
      <button id="optionable" class="btn btn-success default" name="updated">
        Set underlying optionable
      </button>
    </div>
  </div>

  <script type="text/javascript">
    $('#optionable').click(function () {
      $(location).attr("href", "{% url 'admin:set_underlying' symbol|lower 'optionable' %}");
    });
  </script>
{% endblock %}