{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list bootstrapped_goodies_tags admintags %}

{% block extrastyle %}
  <style>
    .pad_top10 {
      padding-top: 10px;
    }

    .borderless td, .borderless th {
      border: none !important;
    }
  </style>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
      <li><a href="{% url 'admin:app_list' 'comment' %}">Comment</a></li>
      <li>Weekday profile</li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="" href="#market_indicator" data-parent="#accordion" data-toggle="collapse">
        Weekday opinion
      </a>
    </h4>
  </div>

  <table class="panel-collapse collapse in table table-bordered" id="market_indicator">
    <tr>
      <td rowspan="2" class="col-md-4">
        <label>New information:</label>
        <div>
          {% if weekday_opinion.new_info_impact %}
            {% if weekday_opinion.new_info_move == 'bullish' %}
              <img src="{% static 'admin/market_profile/signal_buy.png' %}">
            {% elif weekday_opinion.new_info_move == 'bearish' %}
              <img src="{% static 'admin/market_profile/signal_sell.png' %}">
            {% else %}
              <img src="{% static 'admin/market_profile/signal_hold.png' %}">
            {% endif %}
          {% else %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% endif %}

        </div>
        <p class="pad_top10">
          {% if weekday_opinion.new_info_impact %}
            {{ symbol }} <b>have new information</b> on news that will effect stock valuation price.
          {% else %}
            {{ symbol }} have no new information.
          {% endif %}

          {% if weekday_opinion.new_info_move == 'bullish' %}
            New information on {{ symbol }} news indicate it will be <b>Bullish</b>. It maybe not
            as significant as season earning but it still have some effect. The effect mostly
            short-term unless it is important news.
          {% elif weekday_opinion.new_info_move == 'bearish' %}
            New information on {{ symbol }} news indicate it will be <b>Bearish</b>. It maybe not
            as significant as season earning but it still have some effect.The effect mostly
            short-term unless it is important news.
          {% else %}
            New information on {{ symbol }} news indicate it will be <b>Neutral</b> market.
          {% endif %}
        </p>
        <p>
          News: {{ weekday_opinion.new_info_desc|cap }}
        </p>
      </td>
      <td class="col-md-4">
        <label>Today options statistics:</label>
        <div>
          Implied volatility: {{ weekday_opinion.today_iv }}%,
          IV Rank: {{ weekday_opinion.iv_rank|field_name }}%
        </div>
        <p class="pad_top10">
          Today implied volatility (IV) indicate there was 68% this year that {{ symbol }} price will
          move within <b>+-{{ weekday_opinion.today_iv }}%</b>. Current IV Rank is
          {{ weekday_opinion.iv_rank|field_name }}%.
          {% if weekday_opinion.iv_rank == 'below_33' %}
            Low IV rank indicate it is better to do <b>DEBIT</b> spread because options premium is low.
          {% elif weekday_opinion.iv_rank == '34_to_66' %}
            Mid IV rank is best for every type of options strategy. Usually <b>NEUTRAL</b> strategy
            work very well in mid IV rank.
          {% else %}
            High IV rank indicate it is better to do <b>CREDIT</b> spread because
            options premium is high.
          {% endif %}

          Today historical volatility (HV) rank is <b>{{ weekday_opinion.hv_rank|field_name }}%</b>.
          HV Rank usually indicate the average past 1 years real volatility. It serve as a average
          indicators comparison to IV.
        </p>
      </td>
      <td class="col-md-4">
        <label>Today Put/Call Ratio:</label>
        <div>
          {% if weekday_opinion.put_call_ratio < 0.66 %}
            <img src="{% static 'admin/market_profile/signal_buy.png' %}">
          {% elif weekday_opinion.put_call_ratio < 1  %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/signal_sell.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          {% if weekday_opinion.put_call_ratio < 0.66 %}
            Put/Call ratio is below 0.66. It is a normal <b>Bullish</b> market because investors
            trade call options (covered call/long call spread) more than buy put as protection.
          {% elif weekday_opinion.put_call_ratio < 1 %}
            Put/Call ratio is below 1. It is a <b>Hold</b> market because half of the investors
            are trading bullish strategy and half is trading protection or bearish strategy.
          {% else %}
            Put/Call ratio is above 1. It is a unusual <b>Bearish</b> market because most investors
            are buying put for protection or bearish strategy.
          {% endif %}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <label>Today Biggest options strategy:</label>
        <div>
          {% if weekday_opinion.today_biggest == 'bullish' %}
            <img src="{% static 'admin/market_profile/signal_buy.png' %}">
          {% elif weekday_opinion.today_biggest == 'bearish' %}
            <img src="{% static 'admin/market_profile/signal_sell.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          Using minimum 100 options volume, today biggest options strategy are a
          <b>{{ weekday_opinion.today_biggest|cap }}</b>. Investor trade so big always
          provide a good reason to believe stock price will move in certain direction.
          Follow the big fish usually have significant result.
        </p>
      </td>
      <td>
        <label>Today Sizzle Index:</label>
        <div>
          {% if weekday_opinion.sizzle_index > 5 %}
            <img src="{% static 'admin/market_profile/volume_accumulate.png' %}">
          {% elif weekday_opinion.sizzle_index > 2 %}
            <img src="{% static 'admin/market_profile/volume_hold.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/volume_reduce.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          Sizzle Index screens for stocks exhibiting unusually high options volume as
          compared to their previous 5 day options volume.
          {% if weekday_opinion.sizzle_index > 5 %}
            There was a significant increase in options volume which is
            {{ weekday_opinion.sizzle_index }}x. Use today biggest as indicate market direction.
            It is possible to identify secure position where others investor trade so big.
          {% elif weekday_opinion.sizzle_index > 2 %}
            Above 5-days average options volume which is {{ weekday_opinion.sizzle_index }}x.
            Use today biggest as indicate market direction. No significant effect.
          {% else %}
            Normal options trading volume which is {{ weekday_opinion.sizzle_index }}x.
            Today biggest volume strategy can only consider as normal weight strategy.
          {% endif %}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <label>Last 5-days return:</label>

        <div>
          {% if weekday_opinion.last_5day_return > 1 %}
            <img src="{% static 'admin/market_profile/signal_buy.png' %}">
          {% elif weekday_opinion.last_5day_return < -1 %}
            <img src="{% static 'admin/market_profile/signal_sell.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          Last 5-days return totally {{ weekday_opinion.last_5day_return }}%.
          {% if weekday_opinion.last_5day_return > 1 %}
            Positive return consider a continue bullish market. It should be continue
            until trend reverse.
          {% elif weekday_opinion.last_5day_return < -1 %}
            Negative return consider a continue bearish market. It should be continue
            until trend reverse.
          {% else %}
            Ranging return consider a neutral market.
          {% endif %}
          This is simple technical analysis strategy. It don't have significant effect
          on stock price. Assumption is make based on continue trending theory.
        </p>
      </td>
      <td>
        <label>Consecutive Move:</label>
        <div>
          {% if weekday_opinion.consecutive_move == 'up' %}
            <img src="{% static 'admin/market_profile/signal_buy.png' %}">
          {% elif weekday_opinion.consecutive_move == 'down' %}
            <img src="{% static 'admin/market_profile/signal_sell.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          {{ symbol }} price have {{ weekday_opinion.consecutive_move }} consecutive move.
          {% if weekday_opinion.consecutive_move == 'up' %}
             If you want to enter bearish strategy, wait until it consecutive movement stop.
          {% elif weekday_opinion.consecutive_move == 'down' %}
             If you want to enter bullish strategy, wait until it consecutive movement stop.
          {% else %}
            Price no-change. Good to enter bullish or bearish strategy.
          {% endif %}
          This is simple technical analysis strategy. It don't have significant effect
          on stock price. Assumption is make based on continue trending theory.
        </p>
      </td>
      <td>
        <label>Stock Unusual Volume:</label>
        <div>
          {% if weekday_opinion.unusual_volume == 'bullish' %}
            <img src="{% static 'admin/market_profile/signal_buy.png' %}">
          {% elif weekday_opinion.unusual_volume == 'bearish' %}
            <img src="{% static 'admin/market_profile/signal_sell.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          {% if weekday_opinion.unusual_volume %}
            Unusual trading volume happened on {{ symbol }} stock. Huge volume and a bullish
            price move. It indicate as a significant <b>Bullish</b> signal.
          {% elif weekday_opinion.unusual_volume == 'bearish' %}
            Unusual trading volume happened on {{ symbol }} stock. Huge volume and a bearish
            price move. It indicate as a significant <b>Bearish</b> signal.
          {% else %}
            No unusual trading volume on {{ symbol }} stock.
          {% endif %}
        </p>
      </td>

    </tr>
    <tr>
      <td>
        <label>Stock Unusual Volume:</label>

        <div>
          {% if weekday_opinion.unusual_volume == 'bullish' %}
            <img src="{% static 'admin/market_profile/signal_buy.png' %}">
          {% elif weekday_opinion.unusual_volume == 'bearish' %}
            <img src="{% static 'admin/market_profile/signal_sell.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          {% if weekday_opinion.unusual_volume == 'bullish' %}
            Unusual trading volume happened on {{ symbol }} stock. Huge volume and
            price move up. It indicate as a <b>Bullish</b> signal.
          {% elif weekday_opinion.unusual_volume == 'bearish' %}
            Unusual trading volume happened on {{ symbol }} stock. Huge volume and
            price move down. It indicate as a <b>Bearish</b> signal.
          {% else %}
            No unusual trading volume on {{ symbol }} stock.
          {% endif %}
        </p>
      </td>
      <td>
        <label>200x50-days Moving Average:</label>
        <div>
          {% if weekday_opinion.moving_avg200x50 == 'bullish' %}
            <img src="{% static 'admin/market_profile/signal_buy.png' %}">
          {% elif weekday_opinion.moving_avg200x50 == 'bearish' %}
            <img src="{% static 'admin/market_profile/signal_sell.png' %}">
          {% elif weekday_opinion.moving_avg200x50 == 'neutral' %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% else %}
            No signal available.
          {% endif %}
        </div>
        <p class="pad_top10">
          {% if weekday_opinion.moving_avg200x50 == 'bullish' %}
            Both 200-days and 50-days moving average are moving in bullish direction.
            The most popular technical analysis indicate it is a <b>Bullish</b> trend.
          {% elif weekday_opinion.moving_avg200x50 == 'bearish' %}
            Both 200-days and 50-days moving average are moving in bearish direction.
            The most popular technical analysis indicate it is a <b>Bearish</b> trend.
          {% elif weekday_opinion.moving_avg200x50 == 'neutral' %}
            Both 200-days and 50-days moving average are moving in certain price range.
            The most popular technical analysis indicate it is a <b>Neutral</b> movement.
          {% else %}
            Both 200-days and 50-days moving average are not moving in same direction.
          {% endif %}
        </p>
      </td>
      <td>
        <label>Weekend effect:</label>
        <div>
          {% if weekday_opinion.weekend_effect %}
            Weekend effect happened.
          {% else %}
            Weekend effect not happen.
          {% endif %}
        </div>
        <p class="pad_top10">
          {% if weekday_opinion.weekend_effect %}
            Weekend effect also known as Monday effect refers to large returns on Fridays
            compared to those on Mondays.
          {% else %}
            Reverse, as Monday returns span three days, if anything, one would expect returns
            on a Monday to be higher than returns for other days of the week due to the longer
            period and the greater risk.
          {% endif %}
      </td>

    </tr>
    <tr>
      <td>
        <label>Short-term Price Movement:</label>

        <div>
          {% if weekday_opinion.current_short_trend == 'bullish' %}
            <img src="{% static 'admin/market_profile/signal_buy.png' %}">
          {% elif weekday_opinion.current_short_trend == 'bearish' %}
            <img src="{% static 'admin/market_profile/signal_sell.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          The latest short-term price movement is <b>{{ weekday_opinion.current_short_trend }}</b>.
          It can be continue as least 1 week or more than 3 months period. Direct price movement
          are always valid until new information effect stock valuation.
        </p>
      </td>
      <td>
        <label>Long-term Price Movement:</label>
        <div>
          {% if weekday_opinion.current_long_trend == 'bullish' %}
            <img src="{% static 'admin/market_profile/signal_buy.png' %}">
          {% elif weekday_opinion.current_long_trend == 'bearish' %}
            <img src="{% static 'admin/market_profile/signal_sell.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/signal_hold.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          The latest long-term price movement is <b>{{ weekday_opinion.current_short_trend }}</b>.
          It can be continue as least 1 months or more than 12 months period. Direct price movement
          are always valid until new information effect stock valuation.
        </p>
      </td>
      <td>
        <label>Short Squeeze:</label>
        <div>
          {% if weekday_opinion.short_squeeze %}
            <img src="{% static 'admin/market_profile/volume_reduce.png' %}">
          {% else %}
            <img src="{% static 'admin/market_profile/volume_hold.png' %}">
          {% endif %}
        </div>
        <p class="pad_top10">
          {% if weekday_opinion.short_squeeze %}
            After considering weekly short-interest data, it is possible that short-squeeze might
            happen after a few weeks or months periods. Trading with caution and extra careful.
          {% else %}
            After considering weekly short-interest data, no short-squeeze might happen in the
            up-coming period of time.
          {% endif %}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <label>Others Information:</label>

        <div>
          Information that need extra attention for making decision.
        </div>
        <p class="pad_top10">
          {% if weekday_opinion.others %}
            {{ weekday_opinion.others }}
          {% else %}
            Today no others information.
          {% endif %}
        </p>
      </td>
      <td></td>
      <td>
        <label>Fundamental Analysis Summary</label>
        {% if summary.total.score > 2 %}
          <img src="{% static 'admin/market_profile/signal_buy.png' %}">
        {% elif summary.total.score < 2 %}
          <img src="{% static 'admin/market_profile/signal_sell.png' %}">
        {% else %}
          <img src="{% static 'admin/market_profile/signal_hold.png' %}">
        {% endif %}
        <div class="col-md-10 pad_top10">
          <table class="table table-condensed borderless">
            <tr>
              <th></th>
              <th>Movement</th>
              <th>Score</th>
              <th>Count</th>
            </tr>
            <tr>
              <td></td>
              <td>Bullish</td>
              <td>{{ summary.bullish.score }}</td>
              <td>{{ summary.bullish.count }}</td>
            </tr>
            <tr>
              <td>+</td>
              <td>Neutral</td>
              <td>{{ summary.neutral.score }}</td>
              <td>{{ summary.neutral.count }}</td>
            </tr>
            <tr>
              <td>+</td>
              <td>Bearish</td>
              <td>{{ summary.bearish.score }}</td>
              <td>{{ summary.bearish.count }}</td>
            </tr>
            <tr style="border-top: solid 1px darkgrey">
              <td>=</td>
              <td>Summary</td>
              <td>{{ summary.total.score }} / 13</td>
              <td>{{ summary.total.count }}</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
{% endblock %}